@import '../../../styles/global';

@media screen and (min-width: $mobileSize){

    .newsItem {
      display: grid;
      grid-template-columns: 300px auto;
      grid-template-rows: auto auto 250px;
      grid-template-areas: 
        "header header"
        "pic body"
        ". footer";


    border: 2px solid black;  
    
    background-color: cornsilk; 
    width:95%;
    margin: 0 auto;
    margin-bottom: 10px;
    
    
   .header{
        display: inline-block;
      
        grid-area: header;
    }
    
   .body{
      
      grid-area: body;
      width: 90%;
      margin: 0 auto;
    }
     .body p{
    display: block;
    max-width: 90%; 
    
    margin: 0 auto;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
    word-break:break-all;
    }
   .body h3{
    display: block;
    margin: 10 auto;
    font-size: xx-large;
    overflow-x: hidden;
    }

    .header h1{
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    font-size: xx-large;
    
    margin-top:30px;
    border:none;
    overflow-wrap: break-word;
    }

    .footer{
      grid-area: footer;
    }
    .footer h4{
    grid-area: footer;
    font-size: x-large;
    }

    .footer p{
    display: block;
    
    overflow-x: hidden;
    margin: 0 auto;
    font-size: x-large;
    margin-bottom: 10px;
    }

     .footer button{
      margin-top: 10px;
      width:150px;
      height:40px;
      font-size: x-large; 
    
    }
    
 .pic{
      grid-area: pic;
    }

     .pic img{
    width:90%;
    height:auto;
    margin: $imageMargine;
    margin-top: 75px;
    }

  }
    
}
@media screen and (max-width: $mobileSize){

    .newsItem {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto 300px 200px;
      grid-template-areas: 
        "header"
        "body"
        "pic"
        "footer";

        border: 2px solid black;  
       
        background-color: cornsilk; 
        width:95%;
        margin: 0 auto;
        margin-bottom: 10px;
    
    
    .header{
        display: inline-block;
      
      grid-area: header;

    }
    
    .body{
    grid-area: body;
    
    margin: 0 auto;
    }
     .body p{
        display: inline-block;
        width: 90%; 
    
        margin: 0 auto;
        font-size: xx-large;
        word-break:break-all;
    }
    .body h3{
        display: block;
        margin: 10 auto;
        font-size: xx-large;
        overflow-x: hidden;
    }

    .header h1{
        display: inline-block;
        width: fit-content;
        margin: 0 auto;
        padding: 10;
        font-size: xx-large;
        border:none;
        overflow-wrap: break-word;
    

        margin-top:20px;
    
        
    }
  
      .footer{
        grid-area: footer;
      }
     .footer button{
        margin-top: 10px;
       
      }
      .footer h4{
        grid-area: footer;
        font-size: x-large;
        margin-top:35px;
        margin-bottom: 10px;;
      }
    .footer p{
        display: block;
       
        overflow-x: hidden;
        margin: 0 auto;
        font-size: x-large;
      }

     .pic{
        grid-area: pic;

      }
  
     .pic img{
          display: block;
          width:300px;
          height:auto;
          margin: 0 auto;
         
          margin-top: 15px;
      }
    }
    
}

    