@media screen and (min-width: 800px) {
  .newsItem {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto 250px;
    grid-template-areas: "header header" "pic body" ". footer";
    border: 2px solid black;
    background-color: cornsilk;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .newsItem .header {
      display: inline-block;
      grid-area: header; }
    .newsItem .body {
      grid-area: body;
      width: 90%;
      margin: 0 auto; }
    .newsItem .body p {
      display: block;
      max-width: 90%;
      margin: 0 auto;
      font-size: xx-large;
      margin-bottom: 20px;
      margin-top: 20px;
      word-break: break-all; }
    .newsItem .body h3 {
      display: block;
      margin: 10 auto;
      font-size: xx-large;
      overflow-x: hidden; }
    .newsItem .header h1 {
      display: inline-block;
      width: fit-content;
      margin: 0 auto;
      font-size: xx-large;
      margin-top: 30px;
      border: none;
      overflow-wrap: break-word; }
    .newsItem .footer {
      grid-area: footer; }
    .newsItem .footer h4 {
      grid-area: footer;
      font-size: x-large; }
    .newsItem .footer p {
      display: block;
      overflow-x: hidden;
      margin: 0 auto;
      font-size: x-large;
      margin-bottom: 10px; }
    .newsItem .footer button {
      margin-top: 10px;
      width: 150px;
      height: 40px;
      font-size: x-large; }
    .newsItem .pic {
      grid-area: pic; }
    .newsItem .pic img {
      width: 90%;
      height: auto;
      margin: 10px;
      margin-top: 75px; } }

@media screen and (max-width: 800px) {
  .newsItem {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 300px 200px;
    grid-template-areas: "header" "body" "pic" "footer";
    border: 2px solid black;
    background-color: cornsilk;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .newsItem .header {
      display: inline-block;
      grid-area: header; }
    .newsItem .body {
      grid-area: body;
      margin: 0 auto; }
    .newsItem .body p {
      display: inline-block;
      width: 90%;
      margin: 0 auto;
      font-size: xx-large;
      word-break: break-all; }
    .newsItem .body h3 {
      display: block;
      margin: 10 auto;
      font-size: xx-large;
      overflow-x: hidden; }
    .newsItem .header h1 {
      display: inline-block;
      width: fit-content;
      margin: 0 auto;
      padding: 10;
      font-size: xx-large;
      border: none;
      overflow-wrap: break-word;
      margin-top: 20px; }
    .newsItem .footer {
      grid-area: footer; }
    .newsItem .footer button {
      margin-top: 10px; }
    .newsItem .footer h4 {
      grid-area: footer;
      font-size: x-large;
      margin-top: 35px;
      margin-bottom: 10px; }
    .newsItem .footer p {
      display: block;
      overflow-x: hidden;
      margin: 0 auto;
      font-size: x-large; }
    .newsItem .pic {
      grid-area: pic; }
    .newsItem .pic img {
      display: block;
      width: 300px;
      height: auto;
      margin: 0 auto;
      margin-top: 15px; } }
